/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* Resets all default styling for most HTML elements in browser */
html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --primary-color: #0A0C1F;
    --secondary-color: #FFFFFF;
    --light-color: #B4CDED;
    --dark-color: #344966;
    --tertiary-color: #6C45E2;
    --primary-font: 'Roboto Mono';
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}
  
.navbar-toggler {
    color: var(--secondary-color);
}

.logo-1 {
    color: var(--secondary-color);
}

.logo-2 {
    color: var(--light-color);
}
  
.nav-link {
    color: var(--secondary-color);
}

.nav-link:hover {
    color: var(--light-color);
    border-bottom: solid var(--light-color);
}

.logo-1:hover {
    color: var(--light-color);
}

.logo-2:hover {
    color: var(--secondary-color);
}

.hero-content {
    color: var(--secondary-color);
}

.fa-solid {
    font-size: 3em;
    color: var(--secondary-color);
}

nav a {
    color: var(--primary-color);
}

.work {
    color: var(--secondary-color);
}

.home-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: solid var(--light-color);
}

.home-btn:hover {
    background-color: var(--dark-color);
    border-color: var(--light-color);
}

.footer {
    color: var(--secondary-color);
}

.social-icons a {
    color: var(--secondary-color);
}

.social-icons a:hover {
    color: var(--light-color);
}

.skip-link a:hover {
    animation: skiplinkmove 0.3s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes skiplinkmove {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}

label {
    color: var(--secondary-color);
}

.submit {
    background-color: var(--dark-color);
    color: var(--secondary-color);
}

.submit:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
}

.portfolio {
    color: var(--secondary-color);
}

.portfolio .github {
    color: var(--primary-color);
    background-color: var(--light-color);
}

.portfolio .instagram {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.portfolio a:hover {
    background-color: var(--dark-color);
    color: var(--secondary-color);
}

.title {
    color: var(--secondary-color);
}

@media (min-width: 968px) {

    .hero-image {
        position: relative;
    }

    .hero-image img {
        height: 800px;
    }

    .opacity {
      opacity: 0.1;
      position: relative;
    }
    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}